@import "tailwindcss";

@theme {
  --animate-float: float 6s ease-in-out infinite;
  --animate-float-alt: float 7s ease-in-out infinite alternate;
}

@keyframes float {
  0% { transform: translateY(0px); }
  50% { transform: translateY(-15px); }
  100% { transform: translateY(0px); }
}